:root {
    --dk-gray-50:  #f5f6f8;
    --dk-gray-900: #111827;

    --dk-green-600: #4f8a6d;
    --dk-green-700: #43785f;

    --dk-efh-1: #dad7cd;
    --dk-efh-2: #a3b18a;
    --dk-efh-3: #588157;
    --dk-efh-4: #3a5a40;
    --dk-efh-5: #344e41;
}
