@import url("./tokens/_palette.css");
@import url("./tokens/_semantic.css");
@import url("./tokens/_lumo-overrides.css");

@import url("./components/card.css");
@import url("./views/home.css");
@import url("./views/appshell.css");

html, body {
    background: var(--dk-bg);
    color: var(--dk-text);
}
